@use '@/styles//utils//index' as *;

$base-gradient: linear-gradient(90deg, #ff7518 0%, #5c147a 100%);
$hover-gradient: linear-gradient(90deg, #ff8d4b 0%, #772599 100%);
$active-gradient: linear-gradient(90deg, $orange 0%, #53116e 100%);
$disabled-gradient: linear-gradient(90deg, #ccc 0%, #797777 100%);

.button {
  cursor: pointer;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 250ms linear;

  &:disabled {
    cursor: not-allowed;
  }

  &.primary,
  &.primary_with_icon {
    height: 52px;
    @include button-2;
    color: $blue;
    background-color: $orange;
    &:hover {
      background-color: #ff8d4b;
    }
    &:active {
      background-color: $orange;
    }
    &:disabled {
      color: $dark-gray;
      background-color: #ccc;
    }
  }
  &.primary_with_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  &.outline {
    height: 52px;
  }
  &.smallest {
    height: 38px;
  }
  &.outline,
  &.smallest {
    @include button-2;
    color: $blue;
    border-color: $blue;
    background-color: $gray;
    &:hover {
      background-color: $white;
    }
    &:active {
      background-color: #e9e9ff;
    }
    &:disabled {
      color: $dark-gray;
      background-color: #e5e4e4;
    }
  }
  &.gradient {
    position: relative;
    height: 60px;
    @include button;
    color: $white;
    background: $base-gradient;
    overflow: hidden;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: $hover-gradient;
      opacity: 0;
      transition: opacity 250ms linear;
      z-index: -1;
    }

    &:hover::before {
      opacity: 1;
    }

    &:active {
      background: $active-gradient;
    }

    &:disabled {
      color: #f8f5f5;
      background: $disabled-gradient;
      &::before {
        display: none;
      }
    }
  }

  &.ghost {
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    border-color: $blue;
    color: $blue;
    background-color: $white;
    &:hover {
      background-color: $gray;
    }
    &:active {
      background-color: #e9e9ff;
    }
    &:disabled {
      border-color: $dark-gray;
      color: $dark-gray;
      background-color: #e5e4e4;
    }
  }
}
