@use '@/styles//utils//index' as *;

$base-gradient: linear-gradient(90deg, #ff7518 0%, #5c147a 100%);
$hover-gradient: linear-gradient(90deg, #ff8d4b 0%, #772599 100%);
$active-gradient: linear-gradient(90deg, $orange 0%, #53116e 100%);
$disabled-gradient: linear-gradient(90deg, #ccc 0%, #797777 100%);

.button {
  cursor: pointer;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 250ms linear;

  &.primary {
    height: 52px;
    @include button-2;
    color: $blue;
    background-color: $orange;
    &:hover {
      background-color: #ff8d4b;
    }
    &:active {
      background-color: $orange;
    }
    &:disabled {
      color: $dark-gray;
      background-color: #ccc;
    }
  }
  &.outline {
    height: 52px;
  }
  &.smallest {
    height: 38px;
  }
  &.outline,
  &.smallest {
    @include button-2;
    color: $blue;
    border-color: $blue;
    background-color: $gray;
    &:hover {
      background-color: $white;
    }
    &:active {
      background-color: #e9e9ff;
    }
    &:disabled {
      color: $dark-gray;
      background-color: #e5e4e4;
    }
  }
  &.gradient {
    height: 60px;
    @include button;
    color: $white;
    background: $base-gradient;
    transition: background-position 250ms linear;
    &:hover {
      background: $hover-gradient;
    }
    &:active {
      background: $active-gradient;
    }
    &:disabled {
      color: #f8f5f5;
      background: $disabled-gradient;
    }
  }
  &.ghost {
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    border-color: $blue;
    color: $blue;
    background-color: $white;
    &:hover {
      background-color: $gray;
    }
    &:active {
      background-color: #e9e9ff;
    }
    &:disabled {
      border-color: $dark-gray;
      color: $dark-gray;
      background-color: #e5e4e4;
    }
  }
}
