@use '@/shared/styles/utils/index' as *;

.create-ticket {
  background: #ffffff;
  display: flex;
  justify-content: center;
  padding: 44px 16px;
  gap: 92px;

  p {
    font-size: 40px;
    line-height: 56px;
  }

  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    p {
      font-size: 20px;
      line-height: 28px;
      text-align: center;
    }
  }
}
.ticket {
  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 520px;
  }

  &-inputs {
    gap: 24px;
    &--wrapper {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 16px;
      @include onDesktop {
        gap: 24px;
        margin-bottom: 28px;
      }
    }
  }

  &-input--wrapper-base {
    margin-bottom: 16px;
    height: 52px;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    @include onDesktop {
      margin-bottom: 28px;
    }
    &--forget {
      @include base-body;
      color: #233246;
      text-decoration: underline;
    }
    &--checkbox {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 8px;
      @include small-body;
      color: #233246;
      @include onDesktop {
        gap: 16px;
      }
    }
  }

  &-label {
    @include base-body;
    color: $blue;
  }
}
