.check {
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    clip-path: rect(0 0 0 0);
  }

  &__box {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;

    width: 20px;
    height: 20px;
    background-image: url(./assets/off.svg);
  }

  &__input:hover + &__box {
    background-image: url(./assets/hover.svg);
  }

  &__input:checked + &__box {
    background-image: url(./assets/checked.svg);
  }

  &__input:disabled + &__box {
    background-image: url(./assets/disabled.svg);
  }

  &__input:disabled:checked + &__box {
    background-image: url(./assets/disabled-checked.svg);
  }

  &__input:focus + &__box {
    box-shadow:
    0 0 0 0.2em #fc640c67;
    border-radius: 2px;
  }
}
