.check {
  cursor: pointer;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    clip-path: rect(0 0 0 0);
  }
  
  &__box {
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-image: url(../../modules/assets/off.svg);
  }

  &__input:hover + &__box {
    background-image: url(../../modules/assets/hover.svg);
  }

  &__input:checked + &__box {
    background-image: url(../../modules/assets/checked.svg);
  }

  &__input:disabled + &__box {
    background-image: url(../../modules/assets/disabled.svg);
  }

  &__input:disabled:checked + &__box {
    background-image: url(../../modules/assets/disabled-checked.svg);
  }

  &__input:focus + &__box {
    box-shadow:
    0 0 0 0.2em #fc640c67;
    border-radius: 2px;
  }
}
