.option {
      display: block;
      margin-bottom: 10px;
      font-size: 20px;
}

.check {
      cursor: pointer;
}

.check__input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      clip-path: rect(0 0 0 0);
}

.check__box {
      position: absolute;
      margin-top: 2px;
      margin-left: 10px;
      width: 20px;
      height: 20px;
      background-image: url(../../../public/assets/off.svg);
}

.check__input:hover + .check__box {
      background-image: url(../../../public/assets/hover.svg);
}

.check__input:checked + .check__box {
      background-image: url(../../../public/assets/checked.svg);
}
.check__input:disabled,
.check__input:disabled + .check__box {
      background-image: url(../../../public/assets/disabled.svg);
      cursor: not-allowed;
}

.check__input:disabled:checked + .check__box {
      background-image: url(../../../public/assets/disabled-checked.svg);
      cursor: not-allowed;
}

.check__input:focus + .check__box {
      box-shadow:
      0 0 0 0.2em #fc640c67;
      border-radius: 2px;
}