@use '@/shared/styles/utils/index' as *;

.title {
  display: none;

  @include h3;
  text-align: start;
  color: $blue;
  margin-bottom: 16px;

  @include onDesktop {
    margin-bottom: 16px;
  }

  @media (max-width: 1024px) {
    display: block;
  }
}
