@use '@/shared/styles/utils/variables' as *;

.phone {
  &__wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

    input {
      color: $dark-gray;

      &:focus {
        color: $black;
      }
    }
  }
}
