@use '../../../styles/utils/media' as *;
@use '../../../styles/utils/variables' as *;

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: $blue;
  margin-bottom: 24px;

  @include onDesktop {
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 32px;
  }
}
