@use '@/styles/utils/index' as *;

.embla {
  overflow: hidden;
  position: relative;
  padding-bottom: 32px;

  &__viewport {
    overflow: hidden;
    width: 100%;
  }

  &__container {
    display: flex;
    gap: 16px;
    touch-action: pan-y;
    will-change: transform;

    @include onDesktop {
      gap: 40px;
    }
  }

  &__buttons-wrapper {
    display: none;
    @include onDesktop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 548px;
      display: flex;
      align-items: center;
      pointer-events: none;
    }

    .container {
      @include onDesktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__button {
    @include onDesktop {
      pointer-events: all;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50%;
      background-color: rgba(246, 242, 239, 0.3);
    }

    &-icon.right {
      @include onDesktop {
        transform: rotate(180deg);
      }
    }
  }

  &__dots {
    position: relative;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 12px;
    @include onDesktop {
      bottom: -32px;
    }
  }

  &__dot {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #998096;
    transition: background-color 0.3s ease;

    &.is-selected {
      background-color: $white;
      @include onDesktop {
        background-color: #75236b;
      }
    }

    @include onDesktop {
      width: 24px;
      height: 24px;
      background-color: #a3819f;
    }
  }
}
