@use '@/styles/utils/index' as *;

$slider1-gradient: linear-gradient(135deg, $orange 0%, #5c147a 100%);
$slider2-gradient: linear-gradient(135deg, $orange 0%, #870bb8 100%);
$slider3-gradient: linear-gradient(135deg, $orange 0%, #b7128d 100%);
$slider4-gradient: linear-gradient(135deg, $orange 0%, #7a143d 100%);
$slider5-gradient: linear-gradient(135deg, $orange 0%, #ac07a9 100%);

$slider-gradients: (
  1: $slider1-gradient,
  2: $slider2-gradient,
  3: $slider3-gradient,
  4: $slider4-gradient,
  5: $slider5-gradient,
);

.slider {
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 478px;
  padding: 45px 16px;
  flex: 0 0 100%;
  border-bottom-right-radius: 40px;
  margin-left: 16px;
  @include onDesktop {
    flex: 0 0 90%;
    flex-direction: row;
    gap: 240px;
    height: 548px;
    border-radius: 0 0 64px 64px;
    margin-left: 40px;
  }

  @each $i, $gradient in $slider-gradients {
    &.slider#{$i} {
      background: $gradient;
    }
  }

  &-info_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-image__wrapper {
    margin-bottom: 34px;
    @include onDesktop {
      margin-bottom: 0;
    }
    .slide-image {
      width: 123px;
      height: 115px;

      @include onDesktop {
        width: 300px;
        height: 380px;
      }
    }
  }

  &-text__wrapper {
    max-width: 520px;
    margin-bottom: 44px;
    text-align: center;
    color: $white;
  }

  &-title {
    @include h1;
    margin-bottom: 15px;
  }

  &-description {
    @include large-body;
  }

  &-button__wrapper {
    width: 100%;
    @include onDesktop {
      max-width: 280px;
    }
  }
}
