.text-list {
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 800px;
  line-height: 24px;

  &__item {
    margin-bottom: 24px;

    strong {
      display: block;
      margin-bottom: 12px;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 12px;

    @media (max-width: 991px) {
      font-size: 18px;
    }
  }

  &__sub-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 8px;
    }
  }

  &__nested-list {
    list-style-type: disc;
    margin-top: 8px;
    padding-left: 20px;

    li {
      margin-bottom: 4px;
      display: list-item;
    }
  }
}
