@use '@/styles/utils/index' as *;

.popover {
  width: 343px;
  padding: 16px 16px 28px 16px;
  background-color: $white;
  @include onDesktop {
    width: 275px;
  }

  &_headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &_title {
    @include h3;
    color: $blue;
  }

  &_close__button {
    cursor: pointer;
  }
}
