@use '@/shared/styles/utils/index' as *;

.dialog {
  position: fixed;
  width: 100%;
  max-width: 367px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  border-radius: 24px;
  border: none;
  padding: 24px 12px;
  background-color: $white;
  opacity: 0;
  z-index: $z-index-1000;
  transition:
    opacity 0.25s linear,
    transform 0.25s linear,
    display 0.25s allow-discrete,
    overlay 0.25s allow-discrete;
  @include onTablet {
    max-width: 525px;
    padding: 32px 50px;
  }
  @include onDesktop {
    max-width: 848px;
    padding: 48px 164px 52px 164px;
  }

  &[open] {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  @starting-style {
    &[open] {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.95);
    }
  }

  &__backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition:
      background-color 0.25s linear,
      backdrop-filter 0.25s linear,
      overlay 0.25s allow-discrete,
      display 0.25s allow-discrete;
    backdrop-filter: blur(10px);
    background-color: rgba(195, 195, 195, 0.38);
  }

  &::backdrop {
    background-color: transparent;
  }

  &__closeButton {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 22px;
    border: none;
    background-color: transparent;

    @include onDesktop {
      top: 36px;
      right: 36px;
    }
  }
  &-closeIcon {
    width: 24px;
    height: 24px;

    @include onDesktop {
      width: 32px;
      height: 32px;
    }
  }
}

@supports not (transition-behavior: allow-discrete) {
  .dialog::after {
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    padding: 0.5em 1em;
    background-color: $orange;
    color: $white;
    border-radius: 8px;
    content: 'Ваш браузер може не підтримувати плавні анімації закриття.';
    @include h3;
  }
}
