@use './header-typography' as *;

@mixin headerCategoryItems {
  display: grid;
  padding-block: 16px;
  padding-left: 0;
}

@mixin headerCategoryItem {
  cursor: pointer;
  @include headerCategoryItemTypography;
}
