@use '@/styles/utils/index' as *;

.auth {
  &-wrapper {
    max-width: 520px;
    margin: 0 auto;
  }
  &-title {
    @include h1;
    color: $blue;
    margin-bottom: 24px;
    text-align: center;
  }
}
