@use '@/shared/styles/utils/index' as *;

.header {
  box-shadow: 0 1px 4px 0 rgba(194, 164, 164, 0.52);
}

.headerWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 98px;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;

  padding-inline: 16px;
  margin-inline: auto;
  position: relative;

  @include onTablet {
    width: 1280px;
    height: 108px;
    gap: 20px;
  }

  .left {
    display: flex;
    align-items: center;
    gap: clamp(20px, 2.6vw, 48px);
    flex-shrink: 0;
  }

  .burger {
    display: block;
    background: none;
    border: none;
    height: 24px;
    width: 37px;
    margin-left: 14px;
    margin-top: 4px;
    @include onTablet {
      display: none;
    }
  }

  .categories {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 24px;
    @include onTablet {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: static;
      transform: none;
    }
  }

  .center {
    display: flex;
    flex: 1;
    min-width: 0;
    @include onTablet {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }

  .right {
    display: none !important;
    width: 0;
    overflow: hidden;
    @include onTablet {
      display: flex !important;
      width: auto;
      flex-shrink: 0;
      align-items: center;
    }
  }
}

.header {
  box-shadow: 0 1px 4px 0 rgba(194, 164, 164, 0.52);
}

.headerWrap .left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.headerWrap .enter {
  flex: 1;
  display: flex;
  justify-content: center;
}

.headerWrap .right {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
