.about-page {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 16px;
    margin-bottom: 80px;
  }
}

.about_content {
  gap: 24px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1024px) {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.about_content--reversed {
  gap: 24px;
  max-width: 1280px;
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1024px) {
    width: 100%;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.about_text {
  max-width: 628px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__nested-list {
    list-style-type: disc;
    margin-top: 8px;
    padding-left: 20px;

    li {
      margin-bottom: 4px;
      display: list-item;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
    display: inline-block;

    @media (max-width: 991px) {
      font-size: 18px;
    }
  }
  @media (max-width: 1024px) {
    max-width: 100%;
  }
}
