@use '@/styles/utils/index' as *;

.password {
  &__wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &__toggle {
    position: absolute;
    top: 34px;
    right: 12px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    padding-left: 5px;

    @include onDesktop {
      top: 31px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(50% + 2.5px);
      transform: translate(-50%, -50%);
      rotate: -45deg;
      width: 2px;
      height: 95%;
      background-color: $black;
      border-radius: 3px;
      opacity: 1;
    }

    &.active::before {
      opacity: 0;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;

    transition: color 0.2s ease;
  }
}
