@use '@/styles/utils/index' as *;

.overlay {
  position: fixed;
  inset: 0;

  background: $gray;
  z-index: 1000;

  width: 100vw;
  height: 100vh;
  opacity: 1;
  pointer-events: none;
  transform: translateY(-20px);
  transition: 0.3s ease;
  gap: 20px;
  padding: 20px 10px 20px 10px;
}

// .overlay.open {
//   opacity: 1;
//   pointer-events: auto;
//   transform: translateY(0);
// }

.guestRow {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  margin-top: -12px;
  padding: 10px;
}

.guestWrapper {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 35px;
}

.loginMessage {
  text-align: center;
  margin-bottom: 16px;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 328px;
  margin: 0 auto;
  border-radius: 8px;
  background: $orange;
  color: $black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  &:hover {
    color: $white;
  }
}

.userRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16;
  padding: 0px 10px 0px 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 8;
  width: 100%;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #d9d9d9;
}

.navItem {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;

  svg {
    width: 22px;
    height: 22px;
  }

  &:hover {
    background: $gray;
  }
}

.userDropdownSection {
  display: flex;
  flex-direction: row;
  border: none;
  background: none;
}

.userEmail {
  display: flex;
  align-items: center;
}

.dropdownButton {
  margin-left: auto;
  flex-shrink: 0;
  transform: rotate(270deg);
}

.dropdownButtonOpen {
  transform: rotate(90deg);
}

.userDropdownContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 30px;
}

.categoriesButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rightGroup {
  display: flex;
  align-items: center;
  margin-left: auto;
  flex-shrink: 0;
}

.itemRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
