@use '@/styles/utils/index' as *;

.overlay {
  position: fixed;
  inset: 0;

  background: $gray;
  z-index: 1000;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: 0.3s ease;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.guestRow {
  display: flex;
  align-items: center;
  gap: 10px 20px;
  margin-top: -12px;
  padding: 10px;
}

.guestWrapper {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 35px;
}

.loginMessage {
  text-align: center;
  margin-bottom: 16px;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 328px;
  margin: 0 auto;
  border-radius: 8px;
  background: $orange;
  color: $black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  &:hover {
    color: $white;
  }
}
.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #d9d9d9;
}

.navItem {
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;

  svg {
    width: 22px;
    height: 22px;
  }

  &:hover {
    background: $gray;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px;
}

.categoriesList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.categoriesButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rightGroup {
  margin-left: auto;
  flex-shrink: 0;
}

.itemRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
