.input {
  width: 100%;
  height: 100%;
  border: 1px solid #cacaca;
  outline: none;
  padding: 12px;
  border-radius: 15px;

  &.with_icon {
    padding-right: 58px;
  }

  &:focus {
    border: 1px solid #f88c44;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 240px;
    height: 52px;
    overflow: hidden;
  }

  &__icon {
    width: 100%;
    height: 100%;

    &_wrapper {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      cursor: pointer;
      width: 36px;
      height: 36px;

      &.not_active::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        rotate: -45deg;
        right: 0;
        width: 2px;
        height: 95%;
        background-color: #000;
        border-radius: 3px;
      }
    }
  }
}
