@use '@/styles/utils/index' as *;

.error {
  &-wrapper {
    display: grid;
    column-gap: 24px;
    padding: 150px 109px 223px 109px;

    &--base {
      grid-template-columns: 410px 628px;
    }

    &--code {
      grid-template-columns: 712px;
      justify-content: center;
    }
  }

  &-image-wrapper {
    position: relative;
    width: 410px;
    height: 379px;
  }

  &-info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: $blue;
    text-align: center;
  }

  &-error-code {
    font-weight: 500;
    font-size: 180px;
    line-height: 64px;
    text-align: center;
    color: $blue;
    margin-bottom: 75px;
  }

  &-title {
    @include h2;
  }

  &-description {
    margin: 0 auto;
    @include large-body;

    &--base {
      max-width: 396px;
    }

    &--code {
      max-width: 707px;
    }
  }

  &-buttons-wrapper {
    display: flex;
    gap: 35px;

    &--code {
      margin: 0 58px;
    }
  }

  &-link {
    cursor: pointer;
    @include button-2;
    border-radius: 10px;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $blue;
    text-decoration: none;
    color: $blue;
    background-color: $gray;
    transition: background-color 250ms linear;

    &:hover {
      background-color: $white;
    }
  }
}
