@import '@/styles/utils/typography';

@mixin headerCategoryItems {
  display: grid;
  gap: 16px;

  padding: 24px;
}

@mixin headerCategoryItem {
  @include large-body;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
