@use '@/styles/utils/variables' as *;
@use '../../styles/header-typography' as *;

.items {
  @include headerCategoryItems;
  border-right: 1px solid $black;
}

.item {
  @include headerCategoryItem;
  padding: 8px 24px;

  &.active {
    background: #e7e7e7;
  }
}
