.pagination {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-inline: auto;

  .pagination-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    .pagination-previous,
    .pagination-next {
      padding-inline: calc(var(--spacing) * 2);

      & > span {
        display: none;
      }
    }
  }
}

.left-arrow {
  rotate: -180deg;
}

@media (width >= 640px) {
  .pagination {
    .pagination-content {
      .pagination-previous,
      .pagination-next {
        & > span {
          display: block;
        }
      }
    }
  }
}
