@use '@/styles/utils/index' as *;

.slider {
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 478px;
  padding: 45px 16px;
  flex: 0 0 100%;
  border-bottom-right-radius: 40px;
  @include onDesktop {
    flex: 0 0 90%;
    flex-direction: row;
    gap: 240px;
    height: 548px;
    border-bottom-right-radius: 64px;
  }

  &.slider1 {
    background: linear-gradient(135deg, $orange 0%, #5c147a 100%);
  }
  &.slider2 {
    background: linear-gradient(135deg, $orange 0%, #870bb8 100%);
    @include onDesktop {
      border-bottom-left-radius: 64px;
    }
  }
  &.slider3 {
    background: linear-gradient(135deg, $orange 0%, #b7128d 100%);
    @include onDesktop {
      border-bottom-left-radius: 64px;
    }
  }
  &.slider4 {
    background: linear-gradient(135deg, $orange 0%, #7a143d 100%);
    @include onDesktop {
      border-bottom-left-radius: 64px;
    }
  }
  &.slider5 {
    background: linear-gradient(135deg, $orange 0%, #ac07a9 100%);
    @include onDesktop {
      border-bottom-left-radius: 64px;
    }
  }

  &-info_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-image__wrapper {
    margin-bottom: 34px;
    @include onDesktop {
      margin-bottom: 0;
    }
    .slide-image {
      width: 123px;
      height: 115px;

      @include onDesktop {
        width: 300px;
        height: 380px;
      }
    }
  }

  &-text__wrapper {
    max-width: 520px;
    margin-bottom: 44px;
    text-align: center;
    color: $white;
  }

  &-title {
    @include h1;
    margin-bottom: 15px;
  }

  &-description {
    @include large-body;
  }

  &-item__button {
    cursor: pointer;
    height: 52px;
    width: 100%;
    border-radius: 10px;
    padding: 8px 0;
    border: none;
    background-color: $orange;
    @include button-2;
    color: $blue;
    @include onTablet {
      max-width: 280px;
    }
  }
}
