@use '@/shared/styles/utils/index' as *;

.error {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
    width: 100%;
    margin: 0 auto;
    order: 2;

    @include onTablet {
      display: grid;
      padding: 100px 40px;
      column-gap: 24px;

      &--base {
        grid-template-columns: 1fr 1.5fr;
        max-width: 1100px;
      }

      &--code {
        grid-template-columns: 1fr;
        max-width: 800px;
      }
    }
  }

  &-image-wrapper {
    position: relative;
    width: 410px;
    height: 379px;
    order: 1;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 2px;
      background-color: $blue;
    }

    @include onTablet {
      order: 0;

      &::after {
        content: '';
        position: absolute;
        display: none;
      }
    }
  }

  &-info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: $blue;
    text-align: center;
  }

  &-error-code {
    font-weight: 500;
    font-size: 180px;
    line-height: 64px;
    text-align: center;
    color: $blue;
    margin-bottom: 75px;
  }

  &-title {
    @include h2;
  }

  &-description {
    margin: 0 auto;
    @include large-body;

    &--base {
      max-width: 396px;
    }

    &--code {
      max-width: 707px;
    }
  }

  &-buttons-wrapper {
    display: flex;
    gap: 35px;

    &--code {
      margin: 0 58px;
    }
  }

  &-link {
    cursor: pointer;
    @include button-2;
    border-radius: 10px;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $blue;
    text-decoration: none;
    color: $blue;
    background-color: $gray;
    transition: background-color 250ms linear;

    &:hover {
      background-color: $white;
    }
  }
}
