@use '@/styles/utils/index' as *;

.products-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  @include onTablet {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}
