@use '@/shared/styles/utils/index' as *;

@use '@/shared/styles/utils/variables' as *;

.searchBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  max-width: 100%;
  flex: 1;
  min-width: 0;

  .inputWrapper {
    display: none;

    @include onTablet {
      display: block;
      width: 600px;
      height: 44px;
      position: relative;
    }
  }

  .searchBtn {
    display: none;

    @include onTablet {
      display: block;
      background: $orange;
      border: none;
      border-radius: 10px;
      padding: 0px 12px;
      width: 81px;
      height: 44px;
      margin-left: -81px;
      z-index: 10;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background: $orange-hover;
      }
    }
  }

  .searchBtnMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    flex-shrink: 0;
    border: none;
    width: 44px;
    height: 44px;
    margin-left: auto;
    cursor: pointer;

    @include onTablet {
      display: none;
    }
  }
}
