@use '@/styles/utils/index' as *;
@use '@/styles/utils/variables.scss';

.searchBar {
  display: flex;
  align-items: center;

  .inputWrapper {
    display: none;

    @include onTablet {
      display: block;
      width: 600px;
      height: 44px;
      position: relative;
    }
  }

  .searchBtn {
    display: none;
    @include onTablet {
      background: $orange;
      border: none;
      border-radius: 10px;
      padding: 0px 12px;
      width: 81px;
      height: 44px;
      margin-left: -81px;
      z-index: 10;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: $orange-hover;
      }
    }
  }

  .searchBtnMobile {
    position: absolute;
    right: 16px;

    background: none;
    margin-right: 8px;
    margin-top: 4px;

    @include onTablet {
      display: none;
    }
  }
}
