.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 108px;
  width: 1280px;
  margin-inline: auto;
  gap: 20px;

  .left {
    display: flex;
    align-items: center;
    gap: 48px;
    flex-shrink: 0;
  }

  .enter {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }
}
