@use '@/styles/utils/variables' as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  width: 1280px;
  margin: 18px auto;
}

.startArrow {
  width: 16px;
  height: auto;
  flex-shrink: 0;
  margin-right: 24px;
  transform: scale(0.75);
}

.link {
  font-weight: 400;
  color: $dark-gray;
  text-decoration: none;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.current {
  font-weight: 400;
  color: $dark-gray;
}

.linkWithSeparator {
  display: inline-flex;
  align-items: center;
}

.separator {
  margin: 0 8px;
  color: $dark-gray;
}
