.legal-terms-page {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 16px;

    margin-bottom: 80px;
  }
}

.terms-list {
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 800px;
  line-height: 24px;

  &__item {
    margin-bottom: 24px;

    strong {
      display: block;
      margin-bottom: 12px;
    }
  }

  &__sub-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 8px;
    }
  }

  &__nested-list {
    list-style-type: disc;
    margin-top: 8px;
    padding-left: 20px;

    li {
      margin-bottom: 4px;
      display: list-item;
    }
  }
}
