.otp-container {
  display: flex;
  gap: 28px;
  justify-content: center;
  margin: 28px auto;

  .otp-input-field {
    width: 48px;
    height: 52px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: transparent;
    outline: none;
    transition: border-color 0.2s;

    &:focus {
      border-color: #007bff; // Ваш основной цвет
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.1);
    }
  }

  &--invalid .otp-input-field {
    border-color: red;
  }
}
